# XIAOMIAO DESKTOP - SDKCONFIG DEFAULTS

# MCU
CONFIG_IDF_TARGET=esp32
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_SPIRAM_SUPPORT=y

# Flash
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# LVGL
CONFIG_LV_USE_DEMO_WIDGETS=n
CONFIG_LV_USE_DEMO_KEYPAD_AND_ENCODER=n
CONFIG_LV_USE_DEMO_MUSIC=n
CONFIG_LV_USE_DEMO_BENCHMARK=n
CONFIG_LV_PREDEFINED_DEFAULTS=lv_conf.h

# SPI
CONFIG_SPI_MASTER_IN_IRAM=1

# FAT FS
CONFIG_FATFS_LFN_STACK=1

# I2C
CONFIG_I2C_ENABLE_IRQ=n

# Log
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
