# XIAOMIAO DESKTOP - SDKCONFIG DEFAULTS

# MCU
CONFIG_IDF_TARGET=esp32
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_ESP32_SPIRAM_MODE_8080=y
CONFIG_SPIRAM_MODE_8080=y

# Flash
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# LVGL
CONFIG_LV_USE_DEMO_WIDGETS=n
CONFIG_LV_USE_DEMO_KEYPAD_AND_ENCODER=n
CONFIG_LV_USE_DEMO_MUSIC=n
CONFIG_LV_USE_DEMO_BENCHMARK=n

# SPI
CONFIG_SPI_MASTER_IN_IRAM=1

# Log
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
